 # Pandas Basics
library for working with tabular data
main data structures:

1. Series
2. DataFrame
3. Bonus, index

# series
ways to think about series

* 1-D array with indexes that are not limited to integers and can be 
* ordered dictionary where you can have duplicate keys
* usually wont be making series on your own, will retrieve a series from tabular data instead of consctruction

In [2]:
import pandas as pd
import numpy as np
pd.Series([1,2,3])
s = pd.Series(np.arrange(10))
s.values
s.index
s.dtype

pd.Series([1,2,3,4],list('abcd'))

AttributeError: module 'numpy' has no attribute 'arrange'

In [4]:
pd.Series(index = list('abcde'), data = [1,2,3,4,5])
pd.Series({'a':1,'b':2})

a    1
b    2
dtype: int64

In [ ]:
s = pd.Series(np.arrange(10))

# Data Frames

data structure that represents tabular publish_display_data
* 2d array
* Collection of columns
* Each column being a series and a collection of rows with each row being a collection of series

* unlikely to create these from scratch, will be using a helper function to parse some data from csv and more into a dataframe

In [7]:
pd.DataFrame(np.arange(16).reshape(4,4))

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
df = pd.DataFrame(np.arange(25).reshape(5,5),list('abcde'),list('vwxyz'))

* row labels: Index
* column names: columns
* actual data: data

confusing things in panadas

* axis = 0, axis = 1 (0 being rows, 1 is columns)
* what does indexing reuslt in
* map vs apply

In [13]:
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

indexing 

* index with single value gives column as a sseries 
* slice reutrn rows as dataframe
* index with a list treats lists as column names, returns dataframe
* List of booleans filters rows 
* .loc[] numpy lkke indexing axis 0 then 1 or rows and cols as tuple
* .iloc[] numoy like indexing but positions 0 to rows or cals - 1

In [14]:
df[['x','y','y']]

    x   y   y
a   2   3   3
b   7   8   8
c  12  13  13
d  17  18  18
e  22  23  23

In [15]:
df['b':'d']

    v   w   x   y   z
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19